
body{
    font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif;
}

h1{
    font-size: 52px;
    text-transform: capitalize;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
    
    
}

span{
    color: orange ;
    font-weight: 700;
}

.first-section{
    display: flex;
}

img{
    max-height: 785px;
    max-width: 625px;
}

.style-one{
    width:50%;
    padding: 5%;
}

.style-two{
    width: 50%;
    padding: 2%;
}
h3{
    text-transform: uppercase;
    tex
}

 



